* {
	margin: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	font-family: 'Montserrat', sans-serif;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	max-width: 1440px;
	background-color: hsl(30, 38%, 92%);
}

.card {
	min-width: 600px;
	max-width: 39vw;
	height: 54vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: white;
	border-radius: 10px;
}

.card > img,
.text {
	width: 50%;
}

.card img {
	height: 100%;
	object-fit: cover;
	border-radius: 10px 0 0 10px;
}

h1 {
	line-height: 32px;
}

.text {
	display: flex;
	flex-direction: column;
	row-gap: 25px;
	padding: 0 30px;
}

.category {
	color: hsl(228, 12%, 48%);
	text-transform: uppercase;
	letter-spacing: 0.3em;
	font-size: 0.9em;
}

.description {
	color: hsl(228, 12%, 48%);
	line-height: 25px;
	font-size: 0.9em;
}

.price {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.name,
.current-price {
	font-size: 1.9em;
	font-family: 'Fraunces', serif;
}

.current-price {
	color: hsl(158, 36%, 37%);
}

.previous-price {
	margin: 0 20px;
	font-size: 0.8em;
	text-decoration: line-through;
	color: hsl(228, 12%, 48%);
}

button > img {
	padding: 12px;
}

button {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	height: 40px;
	border-radius: 8px;
	color: white;
	background-color: hsl(158, 36%, 37%);
	border: none;
	font-family: 'Montserrat', sans-serif;
}

.attribution {
	position: absolute;
	bottom: 0;
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

.desktop {
	display: block;
}

.mobile {
	display: none;
}

@media screen and (max-width: 630px) {
	.card {
		width: 100%;
		margin: 20px;
		min-width: 335px;
		max-width: 100vw;
		height: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: white;
		border-radius: 10px;
	}
	.category {
		margin-top: 30px;
	}
	.card > img,
	.text {
		width: 100%;
	}
	.desktop {
		display: none;
	}
	.mobile {
		display: block;
	}
	.card > img {
		height: 35%;
		object-fit: cover;
		border-radius: 10px 10px 0 0;
	}
	button {
		margin-bottom: 30px;
	}
}
